.wrapper{
    @include box-sizing('border-box');
    max-width: 100%;
    height: auto;
}

.row{
    max-width: 80%;
    margin: 0 auto;
    &:after{
    clear: both;
    display: block;
    content: "";
    height: 0;
    }
}


@media screen and (min-width: $bpTablet){
    .row{
        max-width: 90%;
    }

    [class *= "col-"]{
        float: left;
        padding: 20px;
    }
    .col-t-6{max-width: 40%};
    .col-t-4{width: 33.33333333%}
    .col-t-9{width: 75%}
    .col-t-3{width: 25%}
    .colt-t-8{width: 66.66666666%}
}

@media screen and (min-width: $bpDesktop){
    .row{
        max-width: 75%;
    }
    [class *= "col-"]{
        float: left;
        padding: 20px;
    }
    .col-d-6{width: 40%};
    .col-d-4{width: 33.33333333%}
    .col-d-9{width: 75%}
    .col-d-3{width: 25%}
    .colt-d-8{width: 66.66666666%}
}